
# Settings for the repository

# Cause line endings in the repository to be newline (\n) and local files to be that of the operating system.
* text=auto

# Denote binary files

*.png binary
*.jpg binary

# The following ensure that the code vendored in the repository language stats
# are specific to mkdocs and not other languages added as dependencies
mkdocs/contrib/search/lunr-language/** linguist-vendored
mkdocs/themes/mkdocs/js/** linguist-vendored
mkdocs/themes/mkdocs/js/base.js linguist-vendored=false
mkdocs/themes/mkdocs/css/** linguist-vendored
mkdocs/themes/mkdocs/css/base.css linguist-vendored=false
mkdocs/themes/readthedocs/js/** linguist-vendored
mkdocs/themes/readthedocs/js/theme.js linguist-vendored=false
mkdocs/themes/readthedocs/css/** linguist-vendored
mkdocs/themes/readthedocs/css/theme_extra.css linguist-vendored=false
build-util/** linguist-vendored=false